@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');



.wrapper {
   margin: 70px 0;
   display: flex;
   padding: 30px;
   font-family: 'Krona One', sans-serif;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-end;
   


   
}
.cards{ 
    background-color: rgb(109, 194, 25);
    /* display: flex; */
    justify-content: space-between;
    align-items: stretch;
    
    

    
}

.cases {
    /* border-left: 10px solid blue; */
    /* background-color: rgb(27, 176, 230);
    padding-right: 40px; */
    font-family: 'Krona One', sans-serif;
    justify-content: space-around;
    display: flex;


}
.deaths {
    /* border-left: 15px solid red;
    border-right: 15px solid red; */
    padding-top: 20px;
    justify-content: space-between;
    font-family: 'Krona One', sans-serif;
    
}
.recovered {
    font-family: 'Krona One', sans-serif;
    
}