*{
background-color: #F28B30;
}
.container{
  border: dotted;
  display: flex;  /*have elements(componets) on a horizonal row*/
  justify-content: center;  /*centers entire content*/
  align-items: center; /* items around the center*/
}